---
layout: default
---
<style>
/* 브라우저 기본 여백 제거 */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* 헤더 내용 스타일 */
.header-content {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    padding: 20px;
    border-radius: 10px;
}

/* h1 제목 스타일 통일 */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin: 20px 0;
}

/* h3 텍스트 중앙 정렬 추가 */
h3 {
    text-align: center; /* 중앙 정렬 */
    font-size: 1.5em; /* 글자 크기 조정 (선택 사항) */
    margin: 20px 0; /* 상하 여백 조정 */
}
</style>


<div class="post">

  <article style="padding-bottom: 100px;">

    <div class="ment">
      <h3>연구실 합류를 희망하시는 분은 이메일로 연락주시기 바랍니다.</h3>

    <div id="contact-info" style="margin-top: 50px;">
      <h1>| Email |</h1>
      <h3><a href="mailto:jongkil@ewha.ac.kr">jongkil@ewha.ac.kr</a></h3>
    </div>

    <div class="address" style="margin-top: 50px;">
      <h1>| Address |</h1>
      <h3>서울특별시 서대문구 이화여대길 52 이화여자대학교 진선미관 225호</h3>
      <div id="map" style="margin: 20px 0;">
        <!-- 지도 삽입 영역 -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.643962602463!2d126.94310538885496!3d37.563451300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c99ac25c17967%3A0x644bcf3e6ecfb7c4!2z7KeE7ISg66-46rSA!5e0!3m2!1sko!2skr!4v1738136684596!5m2!1sko!2skr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </article>
</div>
