---
layout: default
---
<style>
  /* 브라우저 기본 여백 제거 */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* 헤더 내용 스타일 */
.header-content {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    padding: 20px;
    border-radius: 10px;
}

.post-title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
}

.post-date {
    font-size: 1.1em;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
}

.divider {
    width: 90%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}
</style>

<div class="post">

  <article>
    {% if page.post-title %}
      <h1 class="post-title">{{ page.post-title }}</h1>
      <p class="post-date">{{ page.start_date | date: "%Y. %m. %d" }}</p>
      <div class="divider"></div>
      <br>
    {% endif %}

    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
